<h1>تدوينة جديدة</h1>
<form action="/admin/add_blog" method="post">
    <div class="form-group">
        <label>عنوان التدوينة</label>
        <input type="text" name="title" class="form-control">
    </div>
<div>
    <script type="text/javascript" src="/rich/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
        selector: "textarea",
        theme: "modern",
        content_css : "/rich/tinymce/skins/lightgray/content.min.css",
        theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
        font_size_style_values: "10px,12px,13px,14px,16px,18px,20px",
        plugins: [
             "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
             "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
             "save table contextmenu directionality emoticons template paste textcolor"
       ],
       
       toolbar: "insertfile undo redo | styleselect | sizeselect | bold italic | fontselect |  fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons"
       
    }); 
</script>
    
    <div class="form-group">
        <label>مختصر التدوينة</label>
        <textarea name="summary" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>محتوى التدوينة</label>
        <textarea name="content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="أضف التدوينة" class="btn btn-primary">
    </div> 
</div>    
</form>