<a href="/admin/add_blog" class="btn btn-primary">أضف تدوينة جديدة</a>
<a href="/logout" class="btn btn-primary">تسجيل الخروج</a>
<p></p>

<% if flash.now[:notice] != "" %>
    <p class="alert alert-info">
        <%= flash[:notice] %>
    </p>
<% end %>

<p></p>
<ul id="admin-blog-list">
    <% @blogs.each do |b| %>
        <li>
        (
        <a href="/admin/edit_blog/<%= b[:id] %>">تعديل</a>
        |
        <a href="/admin/delete_blog/<%= b[:id] %>">حذف</a>
        )
        <%= b[:title] %>
        </li>
    <% end %>
</ul>