<form action="/admin/add_blog" method="post">
    <label>عنوان التدوينة</label>
    <input type="text" name="title">
    
    <label>مختصر التدوينة</label>
    <textarea name="summary" rows="10"></textarea>
    
    <label>محتوى التدوينة</label>
    <textarea name="content" rows="20"></textarea>
    
    <input type="submit" value="أضف التدوينة">
</form>