<% @blogs.each do |b| %>
<article>
    <a href="/blog/<%= b[:id] %>">
        <h3><%= b[:title] %></h3>
    </a>
    <div class="blog-summary">
        <%= RDiscount.new(b[:summary]).to_html %>
    </div>
</article>
<% end %>