<% @blogs.each do |b| %>
<article>
    <a href="/blog/<%= b[:id] %>">
        <h3 class="blog-title"><%= b[:title] %></h3>
    </a>
    <div class="blog-summary">
        <%= b[:summary] %>
    </div>
</article>
<% end %>