<!DOCTYPE HTML>
<HTML>
   <HEAD>
      <TITLE>مدونتي</TITLE>
      <style>
          body {
            direction: rtl;
          }
          label {
            display: block;
          }
          
          textarea {
            display: block;
          }
      </style>
   </HEAD>
   <BODY>
      <%= yield %>
   </BODY>
</HTML>